body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.layout-item {
    padding: 1dvh max(calc((100vw - 1000px) / 2), 1dvh);
}

section.layout-item {
    align-self: center;
}
