footer.layout-item.site-footer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 2em;
    margin-top: 4em;
    box-shadow: 0 0.1em 0.4em 0 rgb(0, 0, 0, 0.2);
    gap: 0.5em;

    & p {
        opacity: 0.5;
        font-style: italic;
        padding: 0;
        font-weight: 500;
    }

    & a,
    & a:visited {
        color: var(--clr-blue);
    }
}
