<section class="layout-item form card-details-form" id="card-details-form">
    <div class="outer-wrapper">
        <div class="media">
            <img src="assets/images/card-details.jpg" alt="flowers">
        </div>
        
        <div class="inner-wrapper">
            <h2>Payment</h2>
            
            <fieldset>
                <legend>
                    <span>Card Details</span>
                    <span>
                        <i class="fa-brands fa-cc-mastercard master-card-icon"></i>
                        <i class="fa-brands fa-cc-visa"></i>
                    </span>
                </legend>
                
                <form action="#" class="payment" method="POST">
                    
                    <div class="field">
                        <input type="text" name="card-number" id="card-number" placeholder="Card Number" required maxlength="19">
                        <label for="card-number">Card Number</label>
                        <i id="master-card-icon" class="fa-brands fa-cc-mastercard"></i>
                        <i id="visa-card-icon" class="fa-brands fa-cc-visa"></i>
                        <span class="empty-field-error">Please enter your card number</span>
                        <span class="pattern-error">Please enter a valid card number</span>
                    </div>
                    
                    <div class="field">
                        <input type="text" name="card-holder" id="card-holder" placeholder="Name on card" required pattern="^[A-Za-z\u00C0-\u024F&#39;\- ]{2,50}$">
                        <label for="card-holder">Name on card</label>
                        <span class="empty-field-error">Please enter the name as it appears on the credit card</span>
                        <span class="pattern-error">Please enter a valid name</span>
                    </div>
                    
                    <div class="field">
                        <select name="expiry-month" id="expiry-month" required>
                        </select>
                        <i class="fa-solid fa-chevron-down"></i>
                        <label for="expiry-month">MM</label>
                        <span class="expired-card-error-message">Please enter a valid expiration date</span>
                    </div>
                    
                    <div class="field">
                        <select name="expiry-year" id="expiry-year" required>
                        </select>
                        <i class="fa-solid fa-chevron-down"></i>
                        <label for="expiry-year">YY</label>
                    </div>
                    
                    <div class="field">
                        <input type="text" name="cvv-code" id="cvv-code" placeholder="CVV" required maxlength="3" pattern="[0-9]{3}">
                        <label for="cvv-code">CVV</label>
                        <span class="empty-field-error">Please enter your card’s 3- or 4-digit security code</span>
                        <span class="pattern-error">Please enter a valid security code</span>
                    </div>
                    
                    <div class="checkboxes-wrapper">
                        <div class="terms-wrapper">
                            <input type="checkbox" name="agree" id="agree" checked>
                            <label for="agree-save-credit-card">Save Card to Account</label>
                        </div>
                        
                        <div class="terms-wrapper">
                            <input type="checkbox" name="agree" id="agree" checked>
                            <label for="agree-billing-shipping-address-are-same">Billing Address is same as shipping address</label>
                        </div>
                    </div>
                    
                    <input class="btn" type="submit" value="Place Order $3,800">
                </form>
            </fieldset>
        </div>
    </div>
</section>
