<section class="layout-item form contact-form" id="contact-form">
    <div class="outer-wrapper">
        <div class="media">
            <img src="assets/images/card-details.jpg" alt="flowers">
        </div>
        
        <div class="inner-wrapper">
            <fieldset>
                <legend>Contact Us</legend>
                
                <form action="#" method="POST">
                    <div class="field">
                        <input type="text" name="contact-first-name" id="contact-first-name" placeholder="First Name" required pattern="^[A-Za-z\u00C0-\u024F&#39;\- ]{2,50}$">
                        <label for="contact-first-name">First Name</label>
                        <span class="empty-field-error">Please enter your first name</span>
                        <span class="pattern-error">Please enter a valid name</span>
                    </div>
                    
                    <div class="field">
                        <input type="text" name="contact-last-name" id="contact-last-name" placeholder="First Name" required pattern="^[A-Za-z\u00C0-\u024F&#39;\- ]{2,50}$">
                        <label for="contact-last-name">Last Name</label>
                        <span class="empty-field-error">Please enter your last name</span>
                        <span class="pattern-error">Please enter a valid name</span>
                    </div>
                    
                    <div class="field">
                        <input type="email" name="contact-email" id="contact-email" placeholder="Email" required pattern="[A-Za-z0-9]{1,}@{1}[A-Za-z0-9]{1,}\.{1}[A-Za-z]{1,}">
                        <label for="contact-email">Email</label>
                        <i class="fa-solid fa-envelope"></i>
                        <span class="empty-field-error">Please enter your email address</span>
                        <span class="pattern-error">Please enter a valid email address</span>
                    </div>
                    
                    <div class="field">
                        <input type="email" name="retype-contact-email" id="retype-contact-email" placeholder="Email" required pattern="[A-Za-z0-9]{1,}@{1}[A-Za-z0-9]{1,}\.{1}[A-Za-z]{1,}">
                        <label for="retype-contact-email">Confirm Email Address</label>
                        <i class="fa-solid fa-envelope"></i>
                        <span class="empty-field-error">Please enter your email address</span>
                        <span class="pattern-error">Please enter a valid email address</span>
                    </div>
                    
                    <div class="field">
                        <select name="general-inquiry" id="general-inquiry" required>
                            <option value="general">General Inquiry</option>
                            <option value="shipping">Shipping</option>
                            <option value="returns">Returns/Exchanges</option>
                            <option value="repairs">Repairs</option>   
                        </select>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    
                    <div class="field">
                        <textarea name="message" id="message"  rows="8" placeholder="Message" required></textarea>
                        <label for="message">Message</label>
                        <span class="empty-field-error">Please enter your message</span>
                    </div>
                    
                    <input class="btn" type="submit" value="Submit">
                    
                </form>
                
            </fieldset>
        </div>
    </div>
</section>