<section class="layout-item form login-form" id="login-form">
    <div class="outer-wrapper">
        <div class="media">
            <img src="assets/images/login.jpg" alt="flowers">
        </div>
        
        <div class="inner-wrapper">
            
            <fieldset>
                <legend>Welcome Back</legend>
                <p>Please sign in to access your account.</p>
                
                <form action="#" method="POST">
                    <div class="field">
                        <input type="email" name="login-email" id="login-email" placeholder="Email" required pattern="[A-Za-z0-9]{1,}@{1}[A-Za-z0-9]{1,}\.{1}[A-Za-z]{1,}">
                        <label for="login-email">Email</label>
                        <i class="fa-solid fa-envelope"></i>
                        <span class="empty-field-error">Please enter your email address</span>
                        <span class="pattern-error">Your email or password is incorrect.</span>
                    </div>
                    
                    <div class="field">
                        <input type="password" name="login-password" id="login-password" placeholder="Password" required pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[!#$%])[A-Za-z0-9!#$£€%]{6,}$">
                        <label for="login-password">Password</label>
                        <i id="login-show-password" class="fa-solid fa-eye-slash"></i>
                        <i id="login-hide-password" class="fa-solid fa-eye"></i>
                        <span class="empty-field-error">Please enter a password</span>
                        <span class="pattern-error">Your email or password is incorrect.</span>
                    </div>
                    
                    <input class="btn" type="submit" value="Sign In">
                    <p class="confirmation">Thank you! Your submission has been received successfully.</p>
                </form>
            </fieldset>
            
            <footer>
                <h3>Don’t have an account?</h3>
                
                <a href="#register-form" class="btn">Create Account</a>
                
                <h6>What’s included in your Account</h6>
                <ul>
                    <li>
                        <i class="fa-solid fa-bag-shopping"></i>
                        <span>Faster checkout</span>
                    </li>
                    <li>
                        <i class="fa-solid fa-heart"></i>
                        <span>Save your wish list</span>
                    </li>
                    <li>
                        <i class="fa-solid fa-user"></i>
                        <span>Manage personal information</span>
                    </li>
                </ul>
            </footer>
        </div>
    </div>
</section>