<section class="layout-item form register-form">
    <div class="wrapper">
        <div class="media">
            <img src="assets/images/register.jpg" alt="">
        </div>
        <fieldset>
            <legend>Create Account</legend>
            
            <form action="#" method="POST">
                <div class="field">
                    <input type="email" name="register-email" id="register-email" placeholder="Email" required pattern="[A-Za-z0-9]{1,}@{1}[A-Za-z0-9]{1,}\.{1}[A-Za-z]{1,}">
                    <label for="register-email">Email</label>
                    <i class="fa-solid fa-envelope"></i>
                    <span class="empty-field-error">Please enter your email address</span>
                    <span class="pattern-error">Please enter a valid email address</span>
                </div>
                
                <div class="field">
                    <input type="text" name="first-name" id="first-name" placeholder="First Name" required pattern="^(?!\s*$).+$">
                    <label for="first-name">First Name</label>
                    <span class="empty-field-error">Please enter your first name</span>
                    <span class="pattern-error">Please enter your first name</span>
                </div>
                
                <div class="field">
                    <input type="text" name="last-name" id="last-name" placeholder="Last Name" required pattern="^(?!\s*$).+$">
                    <label for="last-name">First Name</label>
                    <span class="empty-field-error">Please enter your last name</span>
                    <span class="pattern-error">Please enter your last name</span>
                </div>
                
                <div class="field">
                    <input type="password" name="register-password" id="register-password" placeholder="Password" required pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[!#$£€%])[A-Za-z0-9!#$£€%]{8,}$">
                    <label for="register-password">Password</label>
                    <i class="fa-solid fa-eye-slash"></i>
                    <span class="empty-field-error">Please enter a password</span>
                    <span class="pattern-error">Please enter a password that meets the required criteria</span>
                </div>
                
                <div class="terms-wrapper">
                    <input type="checkbox" name="agree" id="agree">
                    <label for="agree">By creating an account you agree to receive email updates</label>
                </div>
                <input type="submit" value="Register">
            </form>
        </fieldset>
    </div>
</section>