<section class="layout-item form shipping-info-form" id="shipping-info-form">
    <div class="outer-wrapper">
        <div class="media">
            <img src="assets/images/shipping.jpg" alt="flowers">
        </div>
        
        <div class="inner-wrapper">
            <fieldset>
                
                <legend>
                    <span>Shipping Information</span>
                    <span>john.doe@mail.com</span>
                </legend>
                
                <form action="#" method="POST">
                    <div class="field">
                        <input type="text" name="shipping-info-first-name" id="shipping-info-first-name" placeholder="First Name" required pattern="^[A-Za-z\u00C0-\u024F&#39;\- ]{2,50}$">
                        <label for="shipping-info-first-name">First Name</label>
                        <span class="empty-field-error">Please enter your first name</span>
                        <span class="pattern-error">Please enter a valid name</span>
                    </div>
                    
                    <div class="field">
                        <input type="text" name="shipping-info-last-name" id="shipping-info-last-name" placeholder="Last Name" required pattern="^[A-Za-z\u00C0-\u024F&#39;\- ]{2,50}$">
                        <label for="shipping-info-last-name">Last Name</label>
                        <span class="empty-field-error">Please enter your last name</span>
                        <span class="pattern-error">Please enter a valid name</span>
                    </div>
                    
                    <div class="field">
                        <input type="tel" name="phone" id="phone" placeholder="Phone Number" required pattern="^[0-9]{9,}$">
                        <label for="phone">Phone Number</label>
                        <span class="empty-field-error">Please enter your phone number</span>
                        <span class="pattern-error">Please enter a valid phone number</span>
                    </div>
                    
                    <div class="field">
                        <input type="text" name="street" id="street" placeholder="Street Address" required pattern="^(?!\s*$).{5,}$">
                        <label for="street">Street</label>
                        <span class="empty-field-error">Please enter your street address</span>
                        <span class="pattern-error">Please enter a valid street address</span>
                    </div>
                    
                    <div class="field">
                        <input type="text" name="apartment" id="apartment" placeholder="Apartment" pattern="^(?!\s*$).{1,}$">
                        <label for="apartment">Apartment</label>
                        <span class="pattern-error">Please enter a valid apartment</span>
                    </div>
                    
                    <div class="field">
                        <input type="text" name="city" id="city" placeholder="City" required pattern="^[A-Za-z\u00C0-\u024F&#39;\- ]{2,50}$">
                        <label for="city">City</label>
                        <span class="empty-field-error">Please enter your city</span>
                        <span class="pattern-error">Please enter a valid city</span>
                    </div>
                    
                    <div class="field">
                        <input type="text" name="country" id="country" placeholder="Country" required pattern="^[A-Za-z\u00C0-\u024F&#39;\- ]{2,50}$">
                        <label for="country">Country</label>
                        <span class="empty-field-error">Please enter your country</span>
                        <span class="pattern-error">Please enter a valid country</span>
                    </div>
                    
                    <div class="field">
                        <input type="text" name="zip-code" id="zip-code" placeholder="ZIP Code" required pattern="^[A-Za-z\u00C0-\u024F&#39;\- ]{2,50}$">
                        <label for="zip-code">ZIP Code</label>
                        <span class="empty-field-error">Please enter your ZIP Code</span>
                        <span class="pattern-error">Please enter a valid ZIP Code</span>
                    </div>
                    
                    <div class="delivery-wrapper">
                        <div class="radio-field">
                            <input type="radio" name="delivery-choice" id="overnight" required checked>
                            <label for="overnight">
                                <span class="flex-container">
                                    <span>Overnight</span>
                                    <span>Complimentary</span>
                                </span>
                                <span>Order today for delivery on <time datetime="2055-10-08">2055/10/08.</time></span>
                            </label>
                        </div>
                        
                        <div class="radio-field">
                            <input type="radio" name="delivery-choice" id="2-day" required>
                            <label for="2-day">
                                <span class="flex-container">
                                    <span>2-day</span>
                                    <span>Complimentary</span>
                                </span>
                                <span>Order today for delivery on <time datetime="2055-10-10">2055/10/10</time></span>
                            </label>
                        </div>
                    </div>
                    <input class="btn" type="submit" value="Continue Checkout">
                </form>
            </fieldset>
        </div>
    </div>
</section>
