    <footer class="layout-item site-footer">
        <div class="wrapper">
            <p>Explore the full code and details of this project on</p>
            <a href="https://github.com/BeatrisIlieva/form-suite" target="_blank">
                <i class="fa-brands fa-github"></i>
                <span>GitHub:</span>
            </a>
        </div>
        <a href="https://github.com/BeatrisIlieva/form-suite" target="_blank">
            https://github.com/BeatrisIlieva/form-suite
        </a>
    </footer>
    <script src="assets/js/script.js"></script>
</body>
</html>