.card-details-form {
    & .inner-wrapper {
        & h2 {
            margin-bottom: 1em;
            padding-bottom: 1em;
            border-bottom: 0.1rem solid var(--clr-medium-gray);
        }
        & legend {
            display: flex;
            align-items: center;
            font-size: 1em;
            font-weight: 700;

            width: 100%;
            font-variant-caps: normal;

            & span:nth-child(1) {
                margin-right: auto;
            }

            & span:nth-child(2) {
                font-size: 1.6em;
            }
        }
    }
}