.contact-form {
    & .inner-wrapper {
        & form {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 1em;

            & .field:nth-child(1),
            & .field:nth-child(2) {
                flex: 1 1 40%;
            }

            & .field:nth-child(3),
            & .field:nth-child(4),
            & .field:nth-child(5),
            & .field:nth-child(6),
            & .field:nth-child(7) {
                flex: 1 0 100%;
            }
        }
    }
}
