.form {
    & fieldset {
        border: none;
    }

    & legend,
    & input[type='submit'] {
        font-variant-caps: all-small-caps;
    }

    & legend {
        font-size: 1.8em;
        padding-bottom: 0.1em;
        margin-bottom: 1em;
        border-bottom: 0.05em solid var(--clr-light-gray);
    }

    & .field {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-bottom: 1.5em;

        & label {
            color: var(--clr-black);
            position: absolute;
            top: 0;
            left: 0.6em;
            transition: color 0.3s ease-in-out, color 0.3s ease-in-out;
        }

        & input {
            outline: none;
            border: 0.08em solid var(--clr-black);
            border-radius: 0.1em;
            transition: border-color 0.3s ease-in-out;
            overflow: hidden;
            padding: 0.75em;

            &::placeholder {
                color: transparent;
            }

            &:user-invalid {
                border-color: var(--clr-red);
            }

            &:user-valid {
                border-color: var(--clr-green);
            }

            &:focus {
                border-color: var(--clr-yellow);
            }

            &:user-invalid ~ label {
                color: var(--clr-red);
            }

            &:user-valid ~ label {
                color: var(--clr-green);
            }

            &:focus ~ label {
                color: var(--clr-yellow);
                top: 0;
                font-size: 0.7em;
            }
        }
    }
}
