.form {
    & fieldset {
        border: none;
    }

    & legend,
    & input[type='submit'] {
        font-variant-caps: all-small-caps;
    }

    & legend {
        font-size: 1.8em;
    }

    & .field {
        display: flex;
        flex-direction: column;
        position: relative;

        & label {
            position: absolute;
            top: 0.12em;
            left: 0.1em;
        }

        & input {
            outline: none;
            border: none;
            border-bottom: 0.11em solid var(--clr-black);
            transition: border-color 0.3s ease-in-out;

            &::placeholder {
                color: transparent;
            }

            &:focus {
                border-color: var(--clr-pink);
            }
        }
    }
}
