/* .layout-item.form.register-form {
    width: 100%;
} */

.form {
    & fieldset {
        border: none;
        display: flex;
    }

    & legend,
    & input[type='submit'] {
        font-variant-caps: all-small-caps;
    }

    & legend {
        font-size: 1.8em;
        padding-bottom: 0.1em;
        margin-bottom: 1em;
        border-bottom: 0.05em solid var(--clr-light-gray);
    }

    & .field {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 0.25em;

        & label {
            color: var(--clr-black);
            position: absolute;
            top: 1.05em;
            left: 1rem;
            transition: color 0.3s ease-in-out, top 0.3s ease-in-out;
        }

        & i {
            color: var(--clr-black);
            position: absolute;
            top: 1.25em;
            right: 0.75rem;
            transition: color 0.3s ease-in-out, top 0.3s ease-in-out;
        }

        & input {
            outline: none;
            border: 0.08em solid var(--clr-black);
            border-radius: 0.2em;
            transition: border-color 0.3s ease-in-out;
            overflow: hidden;
            padding: 1em;
            width: 36ch;
            max-width: 46ch;

            &::placeholder {
                color: transparent;
            }

            &:user-invalid {
                border-color: var(--clr-red);

                & ~ label {
                    color: var(--clr-red);
                }

                & ~ .error-message {
                    opacity: 1;
                }
            }

            &:user-valid {
                border-color: var(--clr-green);

                & ~ label {
                    color: var(--clr-green);
                }
            }

            &:focus {
                border-color: var(--clr-yellow);

                & ~ label {
                    color: var(--clr-yellow);
                }

                & ~ .error-message {
                    opacity: 0;
                }
            }

            &:focus ~ label,
            &:not(:placeholder-shown) ~ label {
                top: 0.3em;
                font-size: 0.7em;
            }

            &:required ~ label::after {
                content: '*';
                color: var(--clr-blue);
                padding-left: 0.05em;
            }
        }

        & .error-message {
            color: var(--clr-red);
            opacity: 0;
            font-size: 0.8em;
            padding-left: 0.25em;
            transition: opacity 0.3s ease-out;
            margin-bottom: 0.5em;
        }
    }
}
