.login-form {
    & .inner-wrapper {
        & p {
            opacity: 0.8;
            font-weight: 300;
            letter-spacing: 0.03em;
            margin-top: -1em;
        }

        & #login-show-password,
        & #login-hide-password {
            cursor: pointer;
        }

        & #login-show-password {
            display: block;
        }

        & #login-hide-password {
            display: none;
        }

        & form {
            margin-bottom: 3em;
            padding-bottom: 3em;
            border-bottom: 0.1em solid var(--clr-medium-gray);
        }

        & footer {
            display: flex;
            flex-direction: column;
            padding: 2em;
            background: var(--clr-extra-light-gray);
            border: 0.1em solid var(--clr-light-gray);
            border-radius: 0.1em;
            overflow: hidden;

            & h3 {
                font-variant-caps: all-small-caps;
            }
        }
    }
}
