.register-form {
    & .password-validation-scale {
        display: flex;
        gap: 0.2rem;

        & li {
            flex-grow: 1;
            background: var(--clr-green);
            height: 0.4rem;
        }
    }

    & .password-criteria {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.25em;
        color: var(--clr-medium-gray);

        & li {
            position: relative;
            display: flex;
            left: 1em;

            &::before,
            &::after {
                position: absolute;
                left: -1em;
                top: -0.1em;
                font-size: 1.2em;
            }

            &::before {
                content: '\2717';
                color: var(--clr-medium-gray);
                display: inline-block;
            }

            &::after {
                content: '\2713';
                color: var(--clr-green);
                display: none;
            }

            &.valid::before {
                display: none;
            }
        
            &.valid::after {
                display: inline-block;
            }
        }
    }

    & .terms-wrapper {
        display: flex;
        align-items: center;
        gap: 0.5em;

        & label {
            font-size: 0.9em;
            opacity: 0.5;
            font-weight: 500;
        }

        & input[type='checkbox'] {
            appearance: none;
            position: relative;
            width: 1.4em;
            aspect-ratio: 1/1;
            border: 0.15em solid var(--clr-light-gray);
            z-index: 0;
            border-radius: 0.1em;
            align-self: flex-start;

            &:user-invalid {
                border-color: var(--clr-red);

                & ~ label {
                    color: var(--clr-red);
                }
            }

            &::after,
            &::before {
                position: absolute;
                opacity: 0;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                transition: opacity 0.3s ease-in-out;
            }

            &::after {
                content: '';
                background: var(--clr-black);
                width: 100%;
                aspect-ratio: 1/1;
            }

            &::before {
                content: '\2713';
                color: var(--clr-white);
                font-size: 1em;
                z-index: 2;
            }

            &:checked::before {
                opacity: 1;
            }

            &:checked::after {
                opacity: 1;
            }
        }
    }
}
