.form .outer-wrapper {
    display: flex;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.4);
    border-radius: 0.2em;
    overflow: hidden;
    justify-content: space-between;

    @media (max-width: 820px) {
        flex-direction: column;
    }

    & .media {
        flex: 1 1 50%;
        box-shadow: 0.5em 0 0.9em 0 rgb(0, 0, 0, 0.9);
        display: flex;
        position: relative;

        @media (max-width: 820px) {
            order: 2;
        }

        & img {
            width: 100%;
            height: auto;

            @media (max-width: 820px) {
                height: 20dvh;
                object-fit: cover;
            }
        }

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: linear-gradient(
                90deg,
                rgba(0, 0, 0, 0) 16%,
                rgba(0, 0, 0, 0.4458377100840336) 95%
            );
        }
    }
}

.form .inner-wrapper {
    margin: 3em;
    flex: 1 1 calc(50% - 6em);

    @media (max-width: 820px) {
        margin: 2em;
    }

    & fieldset {
        border: none;
    }

    & form {
        display: flex;
        flex-direction: column;
        & > *:not(:last-child) {
            margin-bottom: 1em;
        }

        & &:has(:user-invalid) input[type='submit'] {
            cursor: not-allowed;
            opacity: 0.6;
        }

        &:not(:has(:user-invalid)) input[type='submit']:hover {
            background: $clr-blue;
            text-shadow: 0 0 1em $clr-black;
        }
    }

    & legend,
    & input[type='submit'] {
        font-variant-caps: all-small-caps;
    }

    & legend {
        font-size: 2em;
        margin-bottom: 1em;
    }

    & .field {
        display: flex;
        flex-direction: column;
        position: relative;
        flex-grow: 1;

        & label {
            color: $clr-black;
            position: absolute;
            top: 1.05em;
            left: 1rem;
            transition: color 0.3s ease-in-out, top 0.3s ease-in-out;
        }

        & i {
            color: $clr-black;
            position: absolute;
            top: 1.25em;
            right: 0.75rem;
            transition: color 0.3s ease-in-out, top 0.3s ease-in-out;
        }

        & input,
        & select,
        & textarea {
            outline: none;
            border: 0.08em solid $clr-black;
            border-radius: 0.1em;
            transition: border-color 0.3s ease-in-out;
            overflow: hidden;
            padding: 1em;

            &::placeholder {
                color: transparent;
            }

            &:invalid {
                border-color: $clr-red;

                & ~ label {
                    color: $clr-red;
                }
            }

            &:not(:placeholder-shown):invalid {
                & ~ .pattern-error {
                    display: block;
                }

                & ~ .empty-field-error {
                    display: none;
                }
            }

            &:placeholder-shown:invalid {
                & ~ .pattern-error {
                    display: none;
                }

                & ~ .empty-field-error {
                    display: block;
                }
            }

            &:focus {
                border-color: $clr-yellow;

                & ~ label {
                    color: $clr-yellow;
                }
            }

            &:not(:placeholder-shown):valid {
                border-color: $clr-green;

                & ~ label {
                    color: $clr-green;
                }
            }

            &:required ~ label::after {
                content: '*';
                color: $clr-blue;
                padding-left: 0.05em;
            }
        }

        & input,
        & textarea {
            &:focus ~ label,
            &:not(:placeholder-shown) ~ label {
                top: 0.3em;
                font-size: 0.7em;
            }
        }

        & .pattern-error,
        & .empty-field-error {
            color: $clr-red;
            margin: 0.5em 0 0.1em 0;
            display: none;
        }
    }

    & .btn {
        margin-top: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.08em;
        cursor: pointer;
        padding: 0.75rem 1.25rem;
        border-radius: 0.1rem;
        border: 0.1rem solid $clr-medium-gray;
        flex-grow: 1;
        font-weight: 500;
        font-size: 1.1em;
        transition: opacity 0.3s ease-in-out, background 0.3s ease-in-out,
            text-shadow 0.6s ease-in-out;
    }

    & input[type='submit'] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    & input[type='submit'],
    & .btn {
        background: $clr-black;
        color: $clr-white;
    }

    & a.btn:hover {
        background: $clr-blue;
        text-shadow: 0 0 1em $clr-black;
    }

    & .terms-wrapper {
        display: flex;
        align-items: center;
        gap: 0.5em;
        margin-top: 1em;

        & label {
            opacity: 0.5;
            font-weight: 500;
            letter-spacing: 0.03em;
        }

        & input[type='checkbox'] {
            appearance: none;
            position: relative;
            width: 1.4em;
            aspect-ratio: 1/1;
            border: 0.15em solid $clr-light-gray;
            z-index: 0;
            border-radius: 0.1em;
            align-self: flex-start;

            &:user-invalid {
                border-color: $clr-red;

                & ~ label {
                    color: $clr-red;
                }
            }

            &::after,
            &::before {
                position: absolute;
                opacity: 0;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                transition: opacity 0.3s ease-in-out;
            }

            &::after {
                content: '';
                background: $clr-black;
                width: 100%;
                aspect-ratio: 1/1;
            }

            &::before {
                content: '\2713';
                color: $clr-white;
                font-size: 1em;
                z-index: 2;
            }

            &:checked::before {
                opacity: 1;
            }

            &:checked::after {
                opacity: 1;
            }
        }
    }

    & .confirmation {
        display: none;
        color: $clr-blue;
        text-align: center;
        font-size: 1.1em;
        text-decoration: underline;
        text-underline-offset: 0.4em;
        text-decoration-color: $clr-medium-gray;
        margin-top: 0.5em;
    }
}

.form .inner-wrapper form .field select.invalid {
    border-color: $clr-red !important;

    & ~ label {
        color: $clr-red !important;
    }
}

.form .inner-wrapper form .field select:valid ~ label {
    top: 0.3em;
    font-size: 0.7em;
}

.form .inner-wrapper form .field select.valid {
    border-color: $clr-green;

    & ~ label {
        color: $clr-green;
    }
}

.form .inner-wrapper form .field select {
    appearance: none;
    background: transparent;
    color: $clr-black;
}

.form:nth-of-type(even) {
    & .media {
        order: 2;
        box-shadow: 0 0 0.9em 0.5em rgb(0, 0, 0, 0.9);

        &::before {
            background: linear-gradient(
                90deg,
                rgba(0, 0, 0, 0.4458377100840336) 16%,
                rgba(0, 0, 0, 0) 95%
            );
        }
    }
}
