.shipping-info-form {
    & .inner-wrapper {
        & legend {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            width: 100%;
            font-variant-caps: normal;

            & span:nth-child(1) {
                margin-right: auto;
                font-size: 0.8em;
                font-weight: 400;
            }

            & span:nth-child(2) {
                opacity: 0.6;
                font-weight: 200;
                font-size: 0.6em;
            }
        }

        & form {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 1em;

            & .field:nth-child(1),
            & .field:nth-child(2),
            & .field:nth-child(6),
            & .field:nth-child(7) {
                flex: 1 1 40%;
            }

            & .field:nth-child(3),
            & .field:nth-child(4),
            & .field:nth-child(5),
            & .field:nth-child(8) {
                flex: 1 0 100%;
            }

            & .btn {
                flex: 1 1 100%;
            }

            & .delivery-wrapper {
                margin-top: 1.5em;
                display: flex;
                flex-direction: column;
                gap: 1em;
                flex-grow: 1;

                & .radio-field {
                    display: flex;
                    gap: 0.5em;
                    background: $clr-extra-light-gray;
                    align-items: center;
                    padding: 1em;
                    transition: background 0.3s ease-in-out;

                    & input[type='radio'] {
                        appearance: none;
                        width: 1.25rem;
                        aspect-ratio: 1/1;
                        border-radius: 50%;
                        background: $clr-white;
                        border: 0.1rem solid $clr-black;
                        align-self: flex-start;
                        position: relative;
                        transition: background 0.3s ease-in-out;

                        &:checked::before {
                            content: '';
                            width: 1rem;
                            aspect-ratio: 1/1;
                            border-radius: 50%;
                            background: $clr-black;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            position: absolute;
                        }

                        &:user-invalid {
                            border-color: $clr-red;

                            & ~ label {
                                color: $clr-red;
                            }
                        }
                    }

                    & label {
                        display: flex;
                        flex-direction: column;
                        font-size: 0.9em;
                        flex-grow: 1;
                        gap: 0.25em;
                        letter-spacing: 0.01em;

                        & .flex-container {
                            display: flex;
                            justify-content: space-between;

                            & span:nth-child(1) {
                                margin-right: auto;
                            }
                        }

                        & > span:nth-child(2) {
                            opacity: 0.6;
                        }
                    }
                }
            }

            & .radio-field:has(input[type='radio']:checked) {
                background: $clr-white;
                border: 0.1em solid $clr-medium-gray;
            }
        }
    }
}
